In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from tqdm.auto import tqdm

In [2]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet

--2026-01-28 13:03:04--  https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.239.1.74, 18.239.1.56, 18.239.1.6, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.239.1.74|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1164775 (1.1M) [binary/octet-stream]
Saving to: ‘green_tripdata_2025-11.parquet.1’

green_tripdata_2025 100%[===================>]   1.11M  --.-KB/s    in 0.1s

2026-01-28 13:03:05 (8.80 MB/s) - ‘green_tripdata_2025-11.parquet.1’ saved [1164775/1164775]

In [2]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5433/ny_taxi')

In [7]:
df = pd.read_parquet("green_tripdata_2025-11.parquet")

In [21]:
#df.to_sql(name='green_taxi_data', con=engine, if_exists='replace', index=False)

912

In [23]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" INTEGER,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

In [24]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 46912 entries, 0 to 46911
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               46912 non-null  int32
 1   lpep_pickup_datetime   46912 non-null  datetime64[us]
 2   lpep_dropoff_datetime  46912 non-null  datetime64[us]
 3   store_and_fwd_flag     41343 non-null  str
 4   RatecodeID             41343 non-null  float64
 5   PULocationID           46912 non-null  int32
 6   DOLocationID           46912 non-null  int32
 7   passenger_count        41343 non-null  float64
 8   trip_distance          46912 non-null  float64
 9   fare_amount            46912 non-null  float64
 10  extra                  46912 non-null  float64
 11  mta_tax                46912 non-null  float64
 12  tip_amount             46912 non-null  float64
 13  tolls_amount           46912 non-null  float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  46912 non-null  float64
 16  total_amount           46912 non-null  float64
 17  payment_type           41343 non-null  float64
 18  trip_type              41342 non-null  float64
 19  congestion_surcharge   41343 non-null  float64
 20  cbd_congestion_fee     46912 non-null  float64
dtypes: datetime64[us](2), float64(15), int32(3), str(1)
memory usage: 7.0 MB

In [3]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

NameError: name 'df' is not defined

In [4]:
import pyarrow.parquet as pq

# 1. Initialize the Parquet file as a stream
parquet_file = pq.ParquetFile('green_tripdata_2025-11.parquet')

#Iterate through the file in batches (mimics chunksize=100000)
for parquets in tqdm(parquet_file.iter_batches(batch_size=100000), desc="Ingesting batches"):
    # Convert the PyArrow batch to a Pandas DataFrame
    df = parquets.to_pandas()
    
    # Upload the chunk to PostgreSQL and 'append' so that previous chunks are not deleted!
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append', index=False)
    
    print(f"Successfully inserted chunk of {len(df)} rows.")

Ingesting batches: 0it [00:00, ?it/s]

Successfully inserted chunk of 46912 rows.

In [5]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2026-01-28 14:34:49--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-28T20%3A32%3A36Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-28T19%3A32%3A15Z&ske=2026-01-28T20%3A32%3A36Z&sks=b&skv=2018-11-09&sig=9b%2BLcpCuQzv9o%2BckltmHw%2FoM9LLBhc6dOVEu5Jl2cvk%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2OTYyOTE5MCwibmJmIjoxNzY5NjI4ODkwLCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.GKLzGCW5yP3iyeT3BJVj0DUAthEuQJawvNKLPxzwrFs&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2026-01-28 14:34:49--  https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-28T20%3A32%3A36Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-28T19%3A32%3A15Z&ske=2026-01-28T20%3A32%3A36Z&sks=b&skv=2018-11-09&sig=9b%2BLcpCuQzv9o%2BckltmHw%2FoM9LLBhc6dOVEu5Jl2cvk%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2OTYyOTE5MCwibmJmIjoxNzY5NjI4ODkwLCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.GKLzGCW5yP3iyeT3BJVj0DUAthEuQJawvNKLPxzwrFs&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving release-assets.githubusercontent.com (release-assets.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to release-assets.githubusercontent.com (release-assets.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0.009s

2026-01-28 14:34:50 (1.25 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [6]:
df_zones=pd.read_csv("taxi_zone_lookup.csv")

In [7]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [8]:
df_zones.info()

<class 'pandas.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    str
 2   Zone          264 non-null    str
 3   service_zone  263 non-null    str
dtypes: int64(1), str(3)
memory usage: 16.9 KB

In [27]:
# batch_size = 1000
# file_name_zones = 'taxi_zone_lookup.csv'

# df_zones = pd.read_csv(file_name_zones, chunksize=batch_size)

# first_chunk = next(df_zones)


# #Create a table in the Database named "taxi_zone_lookup"
# first_chunk.head(0).to_sql(
#     name="taxi_zone_lookup",
#     con=engine,
#     if_exists="replace",
#     index=False
# )

# #zones = 'taxi_zone_lookup.csv'

# for zone in tqdm(df_zones, desc="Ingesting CSV_data"):
    
#     zone.to_sql(name='taxi_zone_lookup', con=engine, if_exists="append",
#             index=False)

Ingesting CSV_data: 0it [00:00, ?it/s]

In [28]:
df_zones = pd.read_csv("taxi_zone_lookup.csv")

df_zones.to_sql(
    name="taxi_zone_lookup",
    con=engine,
    if_exists="replace",
    index=False
)

265